*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


html{
    scroll-behavior: smooth;
}


body{
    background-image: url(imagenes/pexels-eva-bronzini-8060220.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.datos-personales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    height: 200px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 60px ;
}

h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;   
    margin: 50px;
    text-align: center;
}

.form-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.input-inicio{
    padding: 5px;
    border: 1px;
    background-color: rgba(0,0,0,0);
    border-radius: none;
    cursor: pointer;
}

.input-inicio:hover{
    transform: scale(1);
    background-color: rgba(0,0,0,0.1);
}

.label-inicio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 3px;

}

.div-boton-continuar{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.boton-continuar {
    background-color: rgba(0,0,0,0);
    color: black;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
}

.enviar-btn{
    background-color: rgba(0,0,0,0);
    color: black;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: end; 
  }

  

section{
    height: 100vh;
}


.conteiner-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a{
    color: black;
}

@media screen and (max-width: 767px){
    h1{
        font-size: 35px
    }
}